{% extends "base.html" %}
{% block content %}
  <h1>Login</h1>
  {% if form.errors %}<span style="color: red;">Invalid credentials were provided</span>{% endif %}
  <form class="form login-form" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        <span style="color: red;">{{ field.errors }}</span>
        {{ field }}
        {{ field.help_text }}
      </div>
    {% endfor %}
    <input class="form-button" type="submit" value="Login">
  </form>
{% endblock content %}

