{% extends "base.html" %}
{% block content %}
  <div class="task-controls">
    <h1>TODO list</h1>
    <a class="action-link" href="{% url 'todo:task-create' %}">
      <i class="fa-solid fa-plus"></i>
      Create task
    </a>
  </div>
  {% if task_list %}
    <div class="task-container">
      {% for task in task_list %}<div class="task-card">{{ task.content }}</div>{% endfor %}
    </div>
  {% else %}
    <p class="text-muted">You haven't created any tasks yet</p>
  {% endif %}
{% endblock content %}

